@media (max-width: 768px) {
    html {
        font-size: 56.25%;
    }

    .section-hero .hero-heading {
        font-size: 4rem !important;
    }

    :is(.section-course, .section-blog) .grid-four--cols {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .section-why-choose {
        & .choose-left--div {
            order: 2;
        }

        & .choose-right--div {
            order: 3;
        }

        & .choose-center--div {
            order: 1;

            & figure::before,
            ::after {
                width: 0;
                height: 0;
                background-color: transparent;
                padding: 0;
            }
        }
    }

    .section-contact--homepage {
        width: 90% !important;
        margin: 20px;

        & .contact-content {
            order: 3;
        }

        & .contact-image {
            order: 2;
            /* 
            & img {
                order: 1;
                display: block;
                width: 100%;
            } */
        }
    }

    footer {
        & .logo-brand {
            display: none;
        }

        & .right-footer--div {
            margin: 2rem 0 0 4rem;
        }

        & .right-footer--div .social-footer--icons {
            display: flex;
            gap: 2.4rem;
        }

        /* & p,
        a {
            font-size: 1.4rem !important;
        }

        & h1 {
            font-size: 1.4rem !important;
        }

        & .fa-solid {
            font-size: 1.4rem !important;
        } */

    }

}

@media (max-width:650px) {
    html {
        font-size: 44%;
    }


    .section-navbar .navbar ul {
        gap: 1.2rem !important;
    }

    :is(.section-about,
        .section-blog,
        .section-course,
        .section-contact--homepage,
        .section-why-choose) .grid {
        gap: 6.4rem;
    }
}

@media (max-width:550px) {
    .section-hero {
        height: auto;
        padding-bottom: 10rem;

        & .grid-two--cols {
            grid-template-columns: 1fr;


            & .section-hero--content {
                order: 2;


                & .section-hero--image {
                    order: 1;

                    & img {
                        width: 40%;
                    }
                }
            }
        }
    }

    .section-about .about-div {
        text-align: left;

    }


    footer .grid-four--cols {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        text-align: left;

        & .footer-1--div {
            grid-row: 2/3;
            grid-column: 1/-1;
            margin-top: 6.4rem;
        }
    }
}

@media (max-width:450px) {

    .grid-two--cols,
    .grid-three--cols {
        grid-template-columns: 1fr;
    }

    .section-navbar .container {
        display: flex;
        flex-direction: column;

        & .navbar ul {
            gap: 2.4rem;
        }

        & .navbar-brand {
            text-align: center;
        }
    }

    .section-hero .grid .hero-heading {
        font-size: 3.8rem;
    }


    .section-why-choose {
        & img {
            width: 40%;
        }

        & .grid {
            gap: 1.4rem;
        }

        & .text-align--right .why-choose--div {
            align-items: start;
            text-align: left;
        }
    }

    .section-contact--homepage .btn {
        display: block;
        align-items: center;
    }

    .contact-title {
        font-size: 2.4rem;

        :is(.section-contact--homepage) .container:first-child {
            padding: 6.4rem 0 2.4rem 0;
        }
    }
}

/***** End Media Queries Section *****/